<!DOCTYPE html>
<html >
<head>
	<title>Doblador de Ropa - Izquierdo/Urbinati</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
	

</head>
<body class="container" ng-app="app">
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/mainApp.js"></script>
	

	<!-- BARRA TITULO Y SUBTITULO -->
	<div class="text-center topbar">
		<h1><strong> Doblador de ropa</strong></h1>
		<h2>Prototipo web de la interfaz de usuario para manipular el dispositivo.</h2>
	</div>
<hr>
	<!-- IMAGENES PARA CLICKEAR -->
	<div ng-controller='mainCtrl as main'> 
		<div class="row">
			<div class="col-md-6" id='shirt' ng-click="main.select(1)">
				<img class="img-circle center-block img-responsive img-custom" ng-src="{{shirt_img}}" ng-class="{'img-active':active===1}"> 
			</div>
			<div class="col-md-6 center-block" id='pants' ng-click="main.select(2)" > 
				<img class="img-circle center-block img-responsive img-custom" ng-src="{{trousers_img}}" ng-class="{'img-active':active===2}">
			</div>
		</div>
<hr>
		<div class="center-block text-center btn-custom" >
			<button class="btn btn-default btn-lg btn-block" id="btn-fold" ng-click=main.fold() ng-disabled="cantFold">
				{{buttonText}}
			</button>
			<label> {{buttonLabel}}</label>
		</div>
	</div>
	<div>
		
	</body>
	</html>